<div class="d-flex justify-content-between align-items-center">
  <div class="m-5">
    <img src="https://image.flaticon.com/icons/png/256/2706/2706841.png" alt="phonebook">
  </div>
  <div class="m-5">
    <h3>Авторизация</h3>
    <label for="login" class="form-label">Логин</label>
    <input type="email" class="form-control" id="login" placeholder="Логин">
    <label for="login" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="password" placeholder="Пароль">
    <button class="d-block btn btn-primary mx-auto mt-3" type="submit">Вход</button>
  </div>
</div>
