<app-header></app-header>
<h4>Список контактов</h4>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Телефон</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>123456</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>123456</td>
  </tr>
  <tr>
    <td>Larry the Bird</td>
    <td>@twitter</td>
    <td>@fat</td>
    <td>123456</td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end">
  <button class="btn btn-primary mx-2">Добавить</button>
  <button class="btn btn-danger mx-2">Удалить</button>
</div>
<app-contact-card></app-contact-card>
